# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.user
*.opensdf
*.sdf
*.suo
build.xml

Examples/cocos2d
Example/proj.android/.classpath
Example/proj.android/.cproject
Example/proj.android/.project
Example/proj.android/.settings
Example/proj.android/.externalToolBuilders

libfairygui/proj.ios_mac/fairygui.xcodeproj/project.xcworkspace
libfairygui/proj.ios_mac/build/fairygui.build
.DS_Store
.objs